{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src",
        "rootPathPrefix": "~/"
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
